useDynLib(SymTS, .registration = TRUE, .fixes = "C_")
importFrom("stats", "dcauchy", "pcauchy", "qcauchy", "rexp", "runif")
export(dCTS, pCTS, qCTS, dPowTS, pPowTS, qPowTS, dSaS, pSaS, qSaS, rPowTS, rCTS, rSaS)