useDynLib(SymTS, .registration = TRUE, .fixes = "C_")
importFrom("stats", "dcauchy", "pcauchy", "qcauchy", "rexp", "runif")
export("dCTS", "dPowTS", "dSaS", "pCTS", "pPowTS", "pSaS", "qCTS",
       "qPowTS", "qSaS", "rCTS", "rPowTS", "rSaS")